.container{
    border: 2px solid salmon;
    display: flex;
    /* justify-content: space-evenly; */
    /* align-items: flex-end; */
    flex-direction: row-reverse;
    flex-wrap: wrap;
    height: 500px;
}
.box{
    height: 100px;
    width: 100px;
    border: 2px dashed tomato;
}